.wave-footer-container {
    position: fixed;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: -100;
}

.colored-div {
    height: 10vh;
    background-color: #288dff;
    margin-top: -50px;
}

.scroll-container {
    width: 20%;
}

